/* (c) Andi Parker. All rights reserved. */

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Body */

body {
	color: #686868;
	font-family: 'Chivo', sans-serif;
	line-height: 1.5;
}

/* Containers */

#menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 60px;
	bottom: 60px;
	text-align: right;
	font-size: 32px;
}

	#menu ul {
		font-size: 32px;
		list-style: none;
	}

	#menu a {
		color: inherit;
		text-decoration: none;
	}

	#menu a:hover {
		background-color: #686868;
		color: #fff;
	}

	.selected {
		text-decoration: underline;
	}

#container {
	margin: 60px;
	width: 50%;
}

/* Screen sizes */

@media screen and (max-width: 5000px) {

	.copyright_menu {
		display: none;
	}
}

@media screen and (max-width: 800px) {

	#container {
		margin: 30px;
	}

	#menu {
		right: 30px;
	}

}

@media screen and (max-width: 600px) {

	#container {
		margin: 0 auto;
		width: 87.5%;
	}

	#menu {
		display: none;
	}

	.copyright_menu {
		display: block;
	}

}

/* All the rest */

h1, h2, h3, h4, h5, h6, p, caption, img {
	margin: 20px 0;
}

h1 {
	font-size: 40px;
	margin: 60px 0 120px 0;
}

h2 {
	font-size: 28px;
	margin-top: 40px;
}

h3 {
	font-size: 24px;
	margin: 60px 0 0 0;
}

p, ul {
	font-size: 20px;
	list-style: none;
}

.caption {
	font-size: 14px;
	margin: -10px 0 40px 0;
}

a {
	color: #2b86e1;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	background-color: #2b86e1;
	color: #fff;
}

ul {

}

button {
	background-color: #fff;
	border: 3px solid #686868;
	color: #686868;
	cursor: pointer;
	font-size: 20px;
	font-weight: 600;
	margin: 30px 10px 0px 0;
	min-width: 110px;
	padding: 10px 15px;
}

button:hover {
	background-color: #686868;
	border: 3px solid #686868;
	color: #fff;
	outline: none;
}

.linkedin {
	background-color: #fff;
	border: 3px solid #0277b5;
	color: #0277b5;
}

.linkedin:hover {
	background-color: #0277b5;
	border: 3px solid #0277b5;
	color: #fff;
}

img {
	width: 100%;
}

.overlay {

}

.copyright {
	font-size: 14px;
	margin: 60px 0;
}

.copyright_menu {
	color: #aaa;
	font-size: 18px;
	margin: 60px 0;
	word-spacing: 3px;
}


